.minimized-search {
  display: none;
}

@media screen and (max-width: 720px) {
  .minimized-search {
    font-size: 14px;
    display: inline;
  }
  .minimized-search > svg {
    display: block;
    position: absolute;
    top: 25px;
    cursor: pointer;
  }
  .minimized-search > input {
    display: block;
    position: absolute;
    top: 48px;
  }
}