.box-2 {
    flex: 2 0 auto;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    height: auto;
}

.box-2 > div:first-of-type {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.box-2 > div:first-of-type > * {
    margin: 0;
}

.box-2 > div:first-of-type > h2 {
    font-weight: 600;
}

.box-2 > div:first-of-type > p {
    color: #7D7D7D;
    font-weight: 600;
}

.box-2 > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.box-2 > div:nth-child(2) > * {
    margin: 10px;
}

.box-2 > div:nth-child(2) > * {
    align-items: center;
}

.statistics-icon {
    width: 55px;
    height: 55px;
    box-sizing: border-box;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.box-2 > div:nth-child(2) > div{
    display: flex;
}

.number-unit-container {
    margin-left: 8px;
}

.number-unit-container > * {
    margin: 0;
}

.number-unit-container > h1 {
    font-weight: 600;
    font-size: 20px;
    width: 72px;
}

.number-unit-container > p {
    color: #787777;
    font-weight: 600;
    width: 72px;
}