.box-4 {
    height: 420px;
    padding: 25px !important;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

.box-4 > div:first-of-type {
    display: flex;
    justify-content: space-between;
}

.box-4 > div > div:first-of-type > * {
    margin: 0;
}

.box-4 > div:first-of-type > div > h2 {
    font-weight: 600;
}

.box-4 > div > div:nth-child(2) {
    display: flex;
    gap: 60px;
    margin-right: 80px;
    margin-top: 10px;
}

.box-4 > div > div:nth-child(2)  {
    display: flex;
    gap: 60px;
    padding-right: 100px;
}

.box-4 > div > div:nth-child(2) > div > svg  {
    position: relative;
    top: 2px;
    right: 6px;
}

.box-4 > div > div:nth-child(2) > div:first-of-type, .box-4 > div > div:nth-child(2) > div:nth-child(2) {
    display: flex;
}

.box-4 > div > div:nth-child(2) > div > * {
    margin: 0;
}

.box-4 > div > div:nth-child(2) > div > div > h2{
    font-weight: 600;
}

.box-4 > div > div:first-of-type > p {
    margin-top: 5px;
    color: #7D7D7D;
    font-weight: 600;
    font-size: 14px;
}

.box-4 > div > div:nth-child(2) {
    position: relative;
    left: 100px;
}

.box-4 > div > div:nth-child(3) {
    position: relative;
    right: 50px;
}

@media screen and (max-width: 576px) {
    .box-4 {
        width: 91.66666667% !important;
    }

    .box-4 > div > div:nth-child(2) {
        display: none;
    }
}
