.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    width: 105%;
}


.dashboard-component {
    background-color: #FFFFFF;
    height: 180px;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    min-width: none !important;
}
