.box-6 {
  height: auto;
  padding: 25px !important;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-6 > div:first-of-type {
  display: flex;
}

.box-6 > div > h2, .box-6 > div > div > h3, .box-6 > div > div > p {
  margin: 0;
}

.box-6 > div > h2 {
  font-weight: 600;
  margin-right: 26px;
}

.box-6 > div:first-of-type > div {
  border-left: 1px solid #31B97C;
  padding-left: 5px;
  height: 40px;
}

.box-6 > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.box-6 > div:first-of-type > div > h3 {
  font-size: 18px;
  font-weight: 600;
}

.box-6 > div:first-of-type > div > p {
  color: #7D7D7D;
  font-size: 12px;
  font-weight: 500;
}

.event-card {
  display: flex;
  justify-content: center;
  gap: 22%;
  align-items: center;
}

.event-card > div > svg {
  font-size: 25px;
}

.event-card > div:first-of-type {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-sizing: border-box;
}

.event-card > div:nth-child(2) {
  width: 195px;
}

.event-card > h2 {
  width: 60px;
}

.event-card > div:nth-child(2) > p, .event-card > h2 {
  margin: 0;
}

.event-card > div:nth-child(2) > p:first-of-type {
  font-size: 14px;
  font-weight: 600;
}

.event-card > div:nth-child(2) > p:nth-child(2) {
  margin-top: 5px;
  color: #7D7D7D;
  font-weight: 600;
}

.box-6 > div:nth-child(3) {
  display: flex;
  gap: 5px;
}

.box-6 > div:nth-child(3) > * {
  font-size: 35px;
  color: #31B97C;
}

@media screen and (max-width: 576px) {
  .box-6 {
    width: 91.66666667% !important;
  }
}