.sign-in-page-container {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 40px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  height: auto;
  width: 93.2%;
  display: flex;
}

.email-password-section {
  width: 94%;
}

.switch-sign-method:hover {
  text-decoration: underline;
  cursor: pointer;
}

.verification-icon {
  margin-left: 20px;
  padding-bottom: 10px;
}

.all-buttons-container {
  display: flex;
  gap: 20px;
}

.button-container {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: "Poppins" !important;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.button-container:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.button-container.google-sign-in {
  background-color: #4285f4;
  color: white;
}
.button-container.google-sign-in:hover {
  background-color: #357ae8;
  border: none;
}
.button-container.inverted {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.button-container.inverted:hover {
  background-color: black;
  color: white;
  border: none;
}